/* Własny plik z czcionką ME */
@font-face {
    font-family: meFont;
    src: url(me123.ttf);
}

body {
    margin: 0;
    background-color: #1e1e2e;
    color: #fff;
    font-family: meFont;
    font-size: 28px;
}

a:link    	{ color: #fff; text-decoration: none; }
a:visited 	{ color: #fff; }
a:active  	{ color: #fff; }
a:hover   	{ color: #E9B64A; }

h1 {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 25px;
}

main {
    width: 100%;
    align-self: stretch;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;

}


.score {
    margin-top: 5px;
    letter-spacing: 2px;

}


.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}


.board .field {
    animation: fadein .3s;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.field .card {
    width: 110px;
    height: 110px;
    padding: 0;
    margin: 3px;
    background: url("img/karta.png") no-repeat;
    background-size: cover;
    cursor: pointer;
    filter: brightness(80%);
    transition: all .3s ease-in-out;
    border: 4px solid #51c8b2;
    border-radius: 4px;
    display: inline-block;
}

.field .card:hover {
    filter: brightness(100%);
}

.board .turns {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field .rotateCard {
    transform: scaleX(-1) rotateY(180deg);
    transition: all .3s ease-in-out;
}

/*TODO wiecęj poziomów trudności*/
.easy {
    width: 500px;
}

.field .hidden {
    cursor: default;
    opacity: 0;
}

.field .highlight {
    border-color: #e9b64a;
    cursor: default;
    filter:brightness(100%);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.board .score-header {
    animation: fadein .3s;
    padding-bottom: 20px;
    font-size: 50px;
}

.board .score {
    animation: fadein .3s;
    color: #fff;
    font-size: 46px;
}

.btn {
    animation: fadein .3s;
    color: #ffff;
    font-size: 50px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin: 35px 0 80px 0;
}

.btn:hover {
    color: #E9B64A;
}


